* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
}

.nav {
    display: flex;
    gap: 2rem;
    height: 7rem;
    background-color: #4618AC;
}

.link {
    padding: 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

.link:hover {
    color: orange;
}

.link-logo {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 70%;
}

.logo {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.container-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 7rem);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.container-error h1 {
    font-size: 10rem;
}

.container-error p {
    font-size: 3rem;
}

.animated {
    animation: upAndDown 2s ease-in-out infinite;
}

@keyframes upAndDown {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-2rem);
    }
    100% {
    transform: translateY(0);
    }
}

.acerca-container {
    padding: 0 4rem;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}

.mision-container {
    padding: 5rem 0;
    color: #FFFFFF;
    margin-right: 15rem;
}

.mision-container h2 {
    margin-bottom: 3rem;
    font-size: 1.6rem;
}

.mision-container h1 {
    margin: 1rem 0 3rem;
    font-size: 4.5rem;
}

.mision-container p {
    margin: 0  3rem 3rem 0;
}

.historia-container {
    display: flex;
    width: 100%;
    padding-bottom: 5rem;
}

.info-container {
    color: #FFFFFF;
    width: 60%;
}

.info-container h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.p-container p {
    margin: 0 2rem 2rem 0;
}

.fundadores-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.fundadores-image img {
    width: 70%;
}


